<% include ./partials/header %>
<div class="row">
    <div class="col-md-5 ">
        <div class="card">
            <center><h1 class="bg-primary">About Us</h1></center>
            <p class="trp">E-prep is a Comptetive test community run by a group of student's who are delighted to help all the  geeks to solve more and more problem related to any comptetive test. 
                    We would also be uploading each and every concept related to programming languages
  so that it would become very easy for the students to gain knowledge related to any language from grass level to a proficient level.
                    <br> We are always there to help you and also we'll upload the solution of famous problems from various competitive coding platforms. We will also be helping university students with there computer science projects. Projects code along with description will be available soon.
  Despite all these, if you face any problem, kindly post those problems to our Blog or on our Facebook page. We'll try to resolve the problem as soon as possible.
                   Visitor's are heartily welcomed to give feedback on our facebook page and do comment if you find anything wrong in any post. You guys can also ask for your problems related to code in the comment section of any post, we will try to provide you with the solution as soon as possible.
  
  For any suggestion, complaint, and issue go to contact us page to get in touch with <br>
                                        <center><b style="padding-bottom: 40px;">Hope we'll serve you better 😊😊</b></center>
                                        </p>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="card kishan">
            <center><h1 class="bg-primary">Contact details</h1></center>
            <div class="row">
                <div class="col-md-5"> <center><b><br>Adress</b></center></div>
                
                <div class="col-md-7">
                    Block-13, <br>
                    Lovely Professional University <br>
                            Phagwara, Punjab <br>
                            India
                </div>
            </div>
            <div class="row"><br><br></div>
            <div class="row">
                    <div class="col-md-5"> <center><b>Pin Code</b></center></div>
                    
                    <div class="col-md-7">144411</div>
            </div>
            <div class="row"><br><br></div>
            <div class="row">
                    <div class="col-md-5"> <center><b>Phone</b></center></div>
                    
                    <div class="col-md-7">+91-98765XXXXX</div>
            </div>
            <div class="row"><br><br></div>
            <div class="row">
                    <div class="col-md-5"> <center><b>E-mail</b></center></div>
                    
                    <div class="col-md-7"> e-prep@lpu.co.in</div>
            </div>
            <div class="row"><br><br></div>
            <div class="row">
                    <div class="col-md-5"> <center><b>Fax</b></center></div>
                    
                    <div class="col-md-7">+91-98765XXXXX</div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>