<% include ./partials/header %>
<div class="row">
        <h1 style="text-align: center">Please fill up the details</h1>
        <div class="rwd-form">
          <form action="/contact_us" method="post">
            <div class="form-group">
              <label for="username">Name</label>
              <input class="form-control" type="text" name="Name" autocomplete="off" required />
            </div>
            <div class="form-group">
              <label for="Email">Email address</label>
              <input class="form-control" type="email" name="Email" autocomplete="off" required />
            </div>
            <div class="form-group">
              <label for="Phone Number">Phone number</label>
              <input class="form-control" type="number" name="Phone" autocomplete="off"  minlength="10" maxlength="10"required/>
            </div>
            <div class="form-group ">
                <label for="Details">Details</label>
                <textarea id="form7" class="md-textarea form-control" rows="5">write here....</textarea>
                <label for="form7"></label>
              </div>
            <div class="form-group">
              <button class="btn btn-md btn-primary btn-block">Submit !</button>
            </div>
            <hr>
            <a href="/home">Back</a>
          </form>
        </div>
      </div>

<% include ./partials/footer %>