<% include ./partials/header %>
<div class="row">
        <div class="col-lg-4 col-sm-6 def">
            <div class="card" style="width:100%;">
                <img src="/images/JEEM.png" class="card-img-top" alt="JEE MAINS">
                <div class="card-body">
                    <center><h5 class="card-title">JEE MAINS</h5></center>
                    <p class="card-text">JEE-Main Exam has two papers, Paper-1 and Paper-2. It is up to candidates whether to give one exam or both of them. Both of these papers are based on multiple choice questions. Paper-1 is only for admission in B.E./B.Tech discipline held in both online and offline mode.</p>
                    <center><a href="/exams/testlist" class="btn btn-primary">More Information</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card" style="width:100%;">
                <img src="/images/JEEA.png" class="card-img-top" alt="JEE ADVANCED">
                <div class="card-body">
                    <center><h5 class="card-title">JEE ADVANCED</h5></center>
                    <p class="card-text">JEE Advanced is only for those students who have qualified JEE-Mains. Only they can appear for JEE-Advanced examination. The All India Ranks (AIRs) for JEE Main 2014 have been declared.</p>
                    <center><a href="/exams/testlist" class="btn btn-primary">More Information</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card" style="width:100%;">
                <img src="/images/AMCAT.png" class="card-img-top" alt="AMCAT">
                <div class="card-body">
                    <center><h5 class="card-title">AMCAT</h5></center>
                    <p class="card-text">AMCAT (Aspiring Minds Computer Adaptive Test) is a test to evaluate the reasoning Skills, Technical Skills and Aptitude Skills of a candidate who is seeking Job in top MNC’s. Amcat is also known as employability assessment test. The Skills of the candidates will be measured in a Statistical Approach.</p>
                    <center><a href="/exams/testlist" class="btn btn-primary">More Information</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card" style="width:100%;">
                <img src="/images/GATE.png" class="card-img-top" alt="GATE">
                <div class="card-body">
                    <center><h5 class="card-title">GATE</h5></center>
                    <p class="card-text">GATE stands for Graduate Aptitude Test in Engineering, is an entrance exam conducted by the Indian Institute of Science (IISC) along with seven Indian Institutes of Technology (IIT) to test the comprehensive understanding of the subjects taught at the graduation level pertaining to the engineering and the science field</p>
                    <center><a href="/exams/testlist" class="btn btn-primary">More Information</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card" style="width:100%;">
                <img src="/images/GRE.png" class="card-img-top" alt="GRE">
                <div class="card-body">
                    <center><h5 class="card-title">GRE</h5></center>
                    <p class="card-text">The graduate record examination (GRE) is a standardized exam used to measure one's aptitude for abstract thinking in the areas of analytical writing, mathematics, and vocabulary. The GRE is commonly used by many graduate schools in the U.S. and Canada to determine an applicant's eligibility for the program. </p>
                    <center><a href="/exams/testlist" class="btn btn-primary">More Information</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card" style="width:100%;">
                <img src="/images/NEET.png" class="card-img-top" alt="NEET">
                <div class="card-body">
                    <center><h5 class="card-title">NEET</h5></center>
                    <p class="card-text">National Eligibility Cum Entrance Test, which is in short called as NEET. This is a National Entrance Examination which offers the student admission in various Medical and Dental Colleges. The NEET replaced AIPMT, which was earlier proposed by CBSE (Central Board of Secondary Education) and MCI (Medical Council of India).</p>
                    <center><a href="/exams/testlist" class="btn btn-primary">More Information</a></center>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>