<% include ./partials/header %>
<div class="jumbotron">
        <h1>Redeem your COINS to WIN our exciting GOODIES</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 def">
            <div class="card thy" style="width:100%; height: 600px;">
                <img src="/images/premiumMembership.jpg" class="card-img-top" alt="Premium Membership" style="height:50%;">
                <br><br><br><center><div class="card-body">
                    <h5 class="card-title">E-PreP Premium Membership</h5>
                    <p class="card-text">10,000 Coins</p>
                    <a href="#" class="btn btn-primary">Redeem</a>
                </div></center>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card thy" style="width:100%; height: 600px;">
                <img src="/images/Bags.jpg" class="card-img-top" alt="Bags" style="height:50%;">
                <br><br><br><center><div class="card-body">
                        <h5 class="card-title">E-PreP Bag</h5>
                        <p class="card-text">8,500 Coins</p>
                        <a href="#" class="btn btn-primary">Redeem</a>
                </div></center>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card thy" style="width:100%; height: 600px;">
                <img src="/images/Shoes.jfif" class="card-img-top" alt="Shoes" style="height:50%;">
                <br><br><br><center><div class="card-body">
                    <h5 class="card-title">E-PreP Shoes</h5>
                    <p class="card-text">7,000 Coins</p>
                    <a href="#" class="btn btn-primary">Redeem</a>
                </div></center>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card thy" style="width:100%; height: 600px;">
                <img src="/images/TShirt.jpg" class="card-img-top" alt="T-Shirt" style="height:50%;">
                <br><br><br><center><div class="card-body">
                    <h5 class="card-title">E-PreP T-Shirt</h5>
                    <p class="card-text">4,500 Coins</p>
                    <a href="#" class="btn btn-primary">Redeem</a>
                </div></center>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card thy" style="width:100%; height: 600px;">
                <img src="/images/Flask.jpg" class="card-img-top" alt="Flask" style="height:50%;">
                <br><br><br><center><div class="card-body">
                    <h5 class="card-title">E-PreP Flask</h5>
                    <p class="card-text">5,000 Coins</p>
                    <a href="#" class="btn btn-primary">Redeem</a>
                </div></center>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 def">
          <div class="card thy" style="width:100%; height: 600px;">
                <img src="/images/Watch.jpg" class="card-img-top" alt="Watch" style="height:50%;">
                <br><br><br><center><div class="card-body " style="align-content: center;">
                    <h5 class="card-title">E-PreP Watch</h5>
                    <p class="card-text">3,000 Coins</p>
                    <a href="#" class="btn btn-primary">Redeem</a>
                </div></center>
            </div>
        </div>
    </div>
<% include ./partials/footer %>