<% include ./partials/header %>
<div class="row">
        <div class="col-lg-6 col-sm-6 def">
          <div class="card" style="width:100%; height: 950px;">
              <div class="card-body">
                <h3>LEADERBOARD</h3>
                <h5>This week's TOP 10 performers</h5>
                <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Coins</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Mark</td>
                        <td>@markhenry</td>
                        <td>874583</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Jacob</td>
                        <td>@jacobmartin</td>
                        <td>796521</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Larry</td>
                        <td>@larrybird</td>
                        <td>665745</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Mark</td>
                        <td>@markhenry</td>
                        <td>634504</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Jacob</td>
                        <td>@jacobmartin</td>
                        <td>596523</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Larry</td>
                        <td>@larrybird</td>
                        <td>488745</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Mira</td>
                        <td>@mirayork</td>
                        <td>463842</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Shira</td>
                        <td>@shiratyna</td>
                        <td>375464</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Nile</td>
                        <td>@nilejake</td>
                        <td>296523</td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Mike</td>
                        <td>@mikered</td>
                        <td>265745</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 def">
          <div class="row">
            <div class="card" style="width:100%; height: 400px;">
              <div class="card-body">
                <h3>TOP-CONTRIBUTORS</h3>
                <h5>This week's TOP 3 contributors</h5>
                <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Questions Approved</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Mark</td>
                        <td>@markhenry</td>
                        <td>83</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Mark</td>
                        <td>@markhenry</td>
                        <td>67</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i>Mark</td>
                        <td>@markhenry</td>
                        <td>58</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
             <div class="card" style="width:100%; height: 250px;">
                <div class="card-body">
                  <h5>UPCOMING E-PREP MONTHLY CONTEST</h5>
                  <h3 align="center">December Competative Beast</h3>
                  <h1 id="timeleft1" style="font-family: 'Libre Baskerville', serif; font-size: 62px; text-align: center;"></h1>
                  <button class="btn bg-primary btn-block">Register Now</button>
                </div>
             </div>
          </div>
          <br>
          <div class="row">
              <div class="card" style="width:100%; height: 260px;">
                <div class="card-body">
                  <h3>Admin's Thoughts</h3>
                  <blockquote class="blockquote">
                      <p class="mb-0">Success isn't EASY to achieve in ONE GO! Nor is it so DIFFICULT to stop you from making the FINAL attempt!</p>
                      <footer class="blockquote-footer">Ankit Kumar Mishra from <cite title="Source Title">Lovely Professional University</cite></footer>
                  </blockquote>
                </div>
              </div>
           </div>
        </div>
      </div>
<% include ./partials/footer %>