<html lang="en">
<head>
  <!--==================Firebase set up======================-->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-database.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyDLD2vQrduK4jPw69bdhKbsF-DS5LiI4No",
        authDomain: "e-prep-b0940.firebaseapp.com",
        databaseURL: "https://e-prep-b0940.firebaseio.com",
        projectId: "e-prep-b0940",
        storageBucket: "e-prep-b0940.appspot.com",
        messagingSenderId: "698585178770",
        appId: "1:698585178770:web:831b6f161205cde1497c4b",
        measurementId: "G-FGCD6JQJE4"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();

    </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-prep</title>
</head>
<body>
  <br><br><br><br><br>
  <br><br>
  <button onclick="googleSignin()">Sign in With google</button>
  <br><br><br><br><br><br><br><br><br>
  <script>
   var provider = new firebase.auth.GoogleAuthProvider();

  function googleSignin() {
     firebase.auth().signInWithPopup(provider).then(function(result) {
        var token = result.credential.accessToken;
        var user = result.user;
		
        console.log(token)
        console.log(user)
        console.log(user.displayName);
     }).catch(function(error) {
          var errorCode = error.code;
        var errorMessage = error.message;
        console.log(error.code)
        console.log(error.message)
     });
}  
  </script>
</body>
</html>