<% include ./partials/header %>
<table class="table">
        <tr>
          <td>12239</td>
          <td>JEE Mains Practice Paper 2013 Set-A</td>
          <td>Contributed By - Ishil Tripathi</td>
          <td><span class="badge badge-warning">Medium</span></td>
          <td><i class="fa fa-user" aria-hidden="true" style="font-size: 22px;"></i>43234</td>
          <td><button type="button" class="btn bg-primary"><a  class="pnt" href="/exams/testlist/attempttest">Attempt Test</a></button></td>
        </tr>
        <tr>
          <td>15432</td>
          <td>JEE Mains Practice Paper 2016 Set-C</td>
          <td>Contributed By - Rohot Kumar</td>
          <td><span class="badge badge-danger">Hard</span></td>
          <td><i class="fa fa-user" aria-hidden="true" style="font-size: 22px;"></i>45376</td>
          <td><button type="button" class="btn  bg-primary"><a  class="pnt" href="/exams/testlist/attempttest">Attempt Test</button></td>
        </tr>
        <tr>
          <td>18432</td>
          <td>JEE Mains Practice Paper 2017 Set-E</td>
          <td>Contributed By - Ankit Kumar</td>
          <td><span class="badge badge-danger">Easy</span></td>
          <td><i class="fa fa-user" aria-hidden="true" style="font-size: 22px;"></i>27654</td>
          <td><button type="button" class="btn bg-primary"><a  class="pnt" href="/exams/testlist/attempttest">Attempt Test</a></button></td>
        </tr>
        <tr>
              <td>12239</td>
              <td>JEE Mains Practice Paper 2013 Set-A</td>
              <td>Contributed By - Ishil Tripathi</td>
              <td><span class="badge bg-warning">Medium</span></td>
              <td><i class="fa fa-user" aria-hidden="true" style="font-size: 22px;"></i>43234</td>
              <td><button type="button" class="btn bg-primary" > <a class="pnt" href="/exams/testlist/attempttest">Attempt Test</a></button></td>
            </tr>
            <tr>
              <td>15432</td>
              <td>JEE Mains Practice Paper 2016 Set-C</td>
              <td>Contributed By - Rohot Kumar</td>
              <td><span class="badge badge-danger">Hard</span></td>
              <td><i class="fa fa-user" aria-hidden="true" style="font-size: 22px;"></i>45376</td>
              <td><button type="button" class="btn bg-primary"><a class="pnt" href="/exams/testlist/attempttest">Attempt Test</a></button></td>
            </tr>
            <tr>
              <td>18432</td>
              <td>JEE Mains Practice Paper 2017 Set-E</td>
              <td>Contributed By - Ankit Kumar</td>
              <td><span class="badge badge-success">Easy</span></td>
              <td><i class="fa fa-user" aria-hidden="true" style="font-size: 22px;"></i>27654</td>
              <td><button type="button" class="btn bg-primary"><a class="pnt" href="/exams/testlist/attempttest">Attempt Test</a></button></td>
            </tr>
    </table>
    <br><br>

<% include ./partials/footer %>